<h1>Have your say!</h1>

<p>
	<label>What do you think of this property?: </label>
	<input type="text" name="comment[comment]" placeholder="Comment" data-validation="length" data-validation-length="min2" required>
</p>