<h1>hello! see all of your advertised properties here!</h1>

	<h2>Latest Properties:</h2>
  <% @properties.each_with_index do |p, index| %>
  <% user = User.find_by(id: p.user_id) %>
	  <a href="/properties/<%= p.id %>">
	      <p><%= "#{index + 1}. #{p.description}" + "@" + "#{p.location}" %> <%= "--" + "#{current_user.fullname}" %></p>
	  </a>
	<% end %>

