<a href="/"><button type="button" name="home_button">Home</button></a>
<a href="/login"><button type="button" name="login_button">Log In!</button></a>
<a href="/signup"><button type="button" name="signup_button">Sign Up!</button></a>

<h1>Welcome to iBilik!</h1>

<h2>Home is where the heart is, find your dream room here!</h2>
