<a href="/logout"><button type="button" name="logout_button">Log Out!</button></a>
<a href="/"><button type="button" name="find_button">Find a Room!</button></a>
<a href="/properties/new"><button type="button" name="rent_button">Advertise Your Room!</button></a>
<a href="/"><button type="button" name="list_booked_button">Your Booked Rooms</button></a>


<h1>Welcome! </h1>
<h1>hello! see all of your advertised properties here!</h1>

	<h2>Latest Properties:</h2>
  <% @properties.each_with_index do |p, index| %>
  <% user = User.find_by(id: p.user_id) %>
	  <a href="/properties/<%= p.id %>">
	      <p><%= "#{index + 1}. #{p.description}" + "@" + "#{p.location}" %> <%= "--" + "#{current_user.fullname}" %></p>
	  </a>
	<% end %>



