<a href="/"><button type="button" name="home_button">Home</button></a>
<a href="/"><button type="button" name="logout_button">Log Out!</button></a>


<h1>Welcome (put ruby code for user) ! </h1>
<h2>Need a room? No worries! Check out all available rooms here</h2>
<h2>Strapped for cash? Earn quick cash by renting your extra rooms!</h2>

